.home-wrapper {
   margin: 0 auto;

   .home-center-container {
      display: grid;
      grid-template-columns: auto 33em auto;
   }
}


@media screen and (max-width: 600px) { 
    .home-wrapper {
        margin-right: 0;


        .home-center-container {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

@media screen and (min-width: 2000px) {
    .home-wrapper {
        font-size: 1.15em;
    }
}