.site-nav {
   height: 100vh;
   border-right: 1px solid $border-color;
   background-color: #fff;
   position: sticky;
   top: 0;

   .menu-content-container {
      height: 100%;
      margin-top: 1em;

      ul {
         list-style-type: none;
         float: right;
         padding-right: 4em;
         margin-top: 0;

         #nav-site-logo {
            width: 1em;
            margin-left: 1.3em;

            &:hover {
               cursor: pointer;
            }
         }

         li {
            color: #000;
            margin: 1.5em auto 2em auto;

            a {
               text-decoration: none;
               // display: block;
               width: 100%;
               color: #000;
               font-size: 1.2em;
               font-weight: 600;
               padding: 0.4em 1em;
               border-radius: 20px;

               &:hover {
                  background: #24aff02c;
                  color: $main-blue;
               }

               i {
                  padding-right: 1em;
                  font-size: 0.9em;
               }

               p {
                  display: inline;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1224px) {
   .site-nav {
      .menu-content-container {
         width: 80%;
         margin: 1em auto 0 auto;
         ul {
            padding-right: 0;
            padding-left: 1em;

            li {
               a {
                  p {
                     display: none !important;
                  }

                  i {
                     padding-right: 0;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 600px) {
   .site-nav {
      bottom: 0;
      position: fixed;
      height: 3em;
      border-top: 1px solid $border-color;
      background-color: #fff;
      z-index: 5;

      .menu-content-container {
         height: auto;
         width: 100%;
         position: fixed;
         bottom: 0;
         height: 3em;
         line-height: 3em;
         background-color: #fff;
         border-top: 1px solid $border-color;
        z-index: 5;


         ul {
            width: auto;
            padding-left: 0;
            float: none;
            text-align: center;
            margin: 0;
            width: 100%;

            #nav-site-logo {
               display: none;
            }

            li {
               display: inline;
            }
         }
      }
   }
}
