.site-nav {
   height: 100vh;
   border-right: 1px solid $border-color;

   .menu-content-container {
      height: 100%;
      margin-top: 1em;

      ul {
         list-style-type: none;
         float: right;
         padding-right: 4em;
         margin-top: 0;

         #nav-site-logo {
            width: 1em;
            margin-left: 1.3em;
         }

         li {
            color: #000;
            margin: 1.5em auto 2em auto;

            p {
               display: inline;
            }

            i {
               padding-right: 1em;
               font-size: 0.9em;
            }

            a {
               text-decoration: none;
               // display: block;
               width: 100%;
               color: #000;
               font-size: 1.2em;
               font-weight: 600;
               padding: 0.4em 1em;
               border-radius: 20px;

               &:hover {
                  background: #24aff02c;
                  color: $main-blue;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1224px) {
   .site-nav {
      .menu-content-container {
         width: 80%;
         margin: 1em auto 0 auto;
         ul {
            padding-right: 0;
            padding-left: 1em;

            li {
               p {
                  display: none !important;
               }

               i {
                  padding-right: 0;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 600px) {
   .site-nav {
      border-right: none;
      position: fixed;
      bottom: 0;
      height: 4em;

      .menu-content-container {
         width: 100vw;
         ul {
            padding-right: 0;
            width: 100vw;
            display: flex;
            background-color: red;

            #nav-site-logo {
               display: none;
            }

            li {
               display: inline;
               p {
                  display: none !important;
               }

               i {
                  padding-right: 0;
                  display: inline;
               }
            }
         }
      }
   }
}
