.single-post {
    position: relative;
    #no-comments {
        width: 15em;
        text-align: center;
        margin: 5em auto 0 auto;
        font-size: 1.5em;
        font-weight: 500;
    }
    .post-header {
        display: flex;
        align-items: center;
        margin-top: 1em;

        .post-user-icon {
            i {
                font-size: 1.5em;
                background: $border-color;
                padding: 0.5em;
                color: #70747c;
                border-radius: 50%;
                margin-left: 0.5em;
            }
        }

        #screenName {
            font-size: 1.1em;
            font-weight: 700;
            margin-left: 0.5em;
        }
    }

    .post-body {
        max-width: 95%;
        margin: 0.5em auto 0 auto;
        font-size: 1.5em;
    }

    .post-data {
        display: flex;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        margin-top: 1em;
        height: 3em;
        line-height: 3em;

        #post-likes, #post-comments {
            display: flex;
            margin-left: 2em;

            .count {
                margin-right: 0.3em;
                font-weight: 700;
            }
        }
    }

    .comment-modal-wrapper {
        // display: none;
        position: fixed;
        background: rgba(34, 34, 34, 0.6);
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        z-index: 5;

        .comment-modal {

            .fa-times {
                margin: 1em 0 0 1.5em;
                font-size: 1.3em;
                color: $main-blue;
            }

            background: #fff;
            width: 35em;
            margin: 0 auto;
            margin-top: 5em;
            overflow-y: auto;
            padding-bottom: 1em;
            border-radius: 20px;

            .post-header {
                border-top: 1px solid $border-color;
                margin-top: 0.8em;
                padding-top: 1em;
            }

            .post-body {
                margin-left: 1.4em;
                padding-left: 1.5em;
                border-left: 3px solid $border-color;
                padding-bottom: 0.5em;
                p {
                    font-size: 0.7em;
                    margin-right: 2em;
                }
            }

            .comment-area {
                display: flex;
                .post-user-icon {
                    i {
                        font-size: 1.5em;
                        background: $border-color;
                        padding: 0.5em;
                        color: #70747c;
                        border-radius: 50%;
                        margin-left: 0.5em;
                        margin-top: 0.4em;
                    }
                }

                .comment-textarea-wrapper {
                    background: none;
                    width: 100%;
                    margin-right: 2em;

                    textarea {
                        overflow-y: hidden;
                        resize: none;
                        width: 95%;
                        margin: 0.5em 0 0 0.7em;
                        border: none;
                        font-size: 1.2em;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .modal-submit-wrapper {
                width: 100%;

                button {
                    color: #fff;
                    background-color: $main-blue;
                    border: none;
                    float: right;
                    margin: 0 2em 0 0;
                    width: 5em;
                    height: 2em;
                    border-radius: 40px;
                }
            }
        }
    }

    .post-actions {
        padding: 0.4em;
        height: 3em;

        i {
            font-size: 1.1em;
            margin-left: 2em;
            color: #798896;
            padding: 0.5em;
            border-radius: 50%;
        }

        .fa-heart {
            &:hover {
                cursor: pointer;
                color: red;
                background-color: pink;
            }
        }

        .fa-comment {
            margin-left: 3em;

            &:hover {
                cursor: pointer;
                color: purple;
                background-color: plum;
            }
        }

        border-bottom: 1px solid $border-color;
    }
}